### Consider following code to answer further questions:
import pandas as pd    
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]      
duration = [2,3,6,4]      
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

### Problem_1:Write a code to print the data present in the second row of the dataframe, df.

In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df_1=df.iloc[1]
df_1

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

### Problem_2:What is the difference between the functions loc and iloc in pandas.DataFrame?

### loc - Label-based indexing

  - Selects data using labels (index labels or column names).
  - Offers a more intuitive way to access data based on meaning rather than position.
  - Example: df.loc['Machine Learning'] retrieves the row where the index label is 'Machine Learning'.
    
### iloc - Integer-based indexing

  - Selects data using integer positions within the DataFrame.
  - Useful when you know the exact numerical location of the data you need.
  - Example: df.iloc[1] retrieves the data in the second row (zero-based indexing starts from 0).

### Problem_3: Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
### Did you observe any difference in both the outputs? If so then explain it.

In [11]:
indexes = ['Anmol','sudh','krish','rana']
df=pd.DataFrame(indexes)

# Reindexing DataFrame using a Variable
reindex=[3,0,1,2]
new_df=df.reindex(reindex)

# Access Data using loc and iloc
loc_result=new_df.loc[2]
iloc_result=new_df.iloc[2]


# Printing Results
print('loc_result:',loc_result)
print('iloc_result:',iloc_result)

new_df
## Explanation
## loc[2] uses the label position 2 of reindex DataFrame (Which is 'krish' due to reindexing )
## iloc[2] uses integer position 2 (zero based indexing) which remains sudh after reindexing.

loc_result: 0    krish
Name: 2, dtype: object
iloc_result: 0    sudh
Name: 1, dtype: object

       0
3   rana
0  Anmol
1   sudh
2  krish

### Consider the below code to answer further questions:
import pandas as pd        
import numpy as np           
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']             
indices = [1,2,3,4,5,6]             
### Creating a dataframe:                  
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

### Problem_4: Write a code to find the following statistical measurements for the above dataframe df1:
1. mean of each and every column present in the dataframe.
2. standard deviation of column, ‘column_2’

In [31]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices=[1,2,3,4,5,6]
df1=pd.DataFrame(np.random.rand(6,6), columns=columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.354404  0.772100  0.827610  0.695132  0.580780  0.188670
2  0.353513  0.149472  0.883482  0.105330  0.497512  0.676937
3  0.137222  0.942993  0.426812  0.056262  0.104483  0.349048
4  0.538790  0.660414  0.083639  0.678797  0.555867  0.678637
5  0.662198  0.106196  0.891411  0.145446  0.592007  0.525586
6  0.115994  0.710170  0.793638  0.993661  0.533118  0.700592

In [14]:
# Mean each and every column present in the dataframe.
mean= df1[columns].mean()
df2=pd.DataFrame(mean)
df2

                 0
column_1  0.551223
column_2  0.600993
column_3  0.504632
column_4  0.604796
column_5  0.481127
column_6  0.399790

In [26]:
# Standard deviation of column, ‘column_2’
df3=df1['column_2'].std()
df3

0.26871145896646415

### Problem_5: Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [36]:
# Replacing the Data (column_2)
string_data='anmol'
df1.loc[2,'column_2']=string_data

# Trying to calculate the mean of 'column_2'
try:
    mean_column_2=df1['column_2'].mean()
    print("Mean of 'column_2':",mean_column_2)
except TypeError as e:
    print("Error:",e)
    
## There is an error because mean can't be calculated for both sting and numeric datatype.

Error: unsupported operand type(s) for +: 'float' and 'str'

### Problem_6: What do you understand about the windows function in pandas and list the types of windows functions?

  - In pandas, window functions are a powerful tool for performing calculations on subsets of data within a DataFrame. They operate on "windows" of rows, enabling you to analyze trends, moving averages, or other aggregations across a defined timeframe or group.
 
#### Types of window functions
### Rolling window functions
1. rolling.mean(): Computes the rolling mean within a window.
2. rolling.sum(): Calculates the rolling sum within a window.
3. rolling.std(): Calculates the rolling standard deviation within a window.
4. rolling.min(): Finds the rolling minimum within a window.
5. rolling.max(): Finds the rolling maximum within a window.

### Expanding window functions
1. expanding.mean(): Computes the expanding mean up to the current row.
2. expanding.sum(): Calculates the expanding sum up to the current row.
3. expanding.std(): Calculates the expanding standard deviation up to the current row.
4. expanding.min(): Finds the expanding minimum up to the current row.
5. expanding.max(): Finds the expanding maximum up to the current row.

### Problem_7:Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [41]:
import datetime
now=datetime.datetime.now()
# Format date to display only month and year
formatted_date = now.strftime("%B %Y")  # %B for full month name, %Y for year

print(formatted_date)

March 2024

### Problem_8: Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [6]:
date_str_1 = input("Enter the First Date (YYYY-MM-DD): ")
date_str_2 = input("Enter the Second Date (YYYY-MM-DD): ")

# Convert the string to Date time object
date_1 = pd.to_datetime(date_str_1)
date_2 = pd.to_datetime(date_str_2)

# Calculate the time delta
time_delta = date_1 - date_2

# Extract days, hours, minutes from time_delta object
days = time_delta.days
hours = time_delta.seconds // 3600
minutes = (time_delta.seconds % 3600) // 60
seconds = time_delta.seconds  

print("days:", days)
print("hours:", hours)
print("minutes:", minutes)
print("seconds:", seconds)

Enter the First Date (YYYY-MM-DD):  2024-03-09
Enter the Second Date (YYYY-MM-DD):  2002-10-25

days: 7806
hours: 0
minutes: 0
seconds: 0

### Problem_9: Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [8]:
file=input('Enter the file path:')
column_name=input('Enter the column name to convert:')
df=pd.read_csv(file)
df[column_name]=df[column_name].astype('category')


# sort data by coonverted columns
df=df.sort_values(column_name).head()

# Display sorted data and category order (if provided)
print("Sorted Data:")
print(df.to_string(index=False))

Enter the file path: titanic_data.csv
Enter the column name to convert: Name

Sorted Data:
 PassengerId  Survived  Pclass                                  Name    Sex  Age  SibSp  Parch    Ticket  Fare Cabin Embarked
         846         0       3                   Abbing, Mr. Anthony   male 42.0      0      0 C.A. 5547  7.55   NaN        S
         747         0       3           Abbott, Mr. Rossmore Edward   male 16.0      1      1 C.A. 2673 20.25   NaN        S
         280         1       3      Abbott, Mrs. Stanton (Rosa Hunt) female 35.0      1      1 C.A. 2673 20.25   NaN        S
         309         0       2                   Abelson, Mr. Samuel   male 30.0      1      0 P/PP 3381 24.00   NaN        C
         875         1       2 Abelson, Mrs. Samuel (Hannah Wizosky) female 28.0      1      0 P/PP 3381 24.00   NaN        C

### Problem_10: Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

file_path=input('Enter the file path:')
df=pd.read_csv(file_path)

# Group the data by date and product category
sales_by_category=df.groupby(['date','product_category'])['sales'].sum().unstack()

# Creating stacked bar chart
sales_by_category.plot(kind='bar', stacked=True, figsize=(10,6))
plt.xlabel('date')
plt.ylabel('sales')
plt.title('Sales by product category over time')
plt.legend(title='Product Category')
plt.xticks(rotation=45)  # Rotate x-axis labels for readability
plt.tight_layout()

 # Display the chart
plt.show()

### Problem_11: You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
#### The program should do the following:
  - Prompt the user to enter the file path of the CSV file containing the student data
  - Read the CSV file into a Pandas DataFrame
  - Calculate the mean, median, and mode of the test scores using Pandas tools
  - Display the mean, median, and mode in a table.

#### Assume the CSV file contains the following columns-
  - Student ID: The ID of the student -
  - Test Score: The score of the student's test.
#### Example usage of the program -
#### Enter the file path of the CSV file containing the student data - student_data.csv
+-----------+--------+          
| Statistic | Value |            
+-----------+--------+              
| Mean | 79.6 |                  
| Median | 82 |                
| Mode | 85, 90 |                 
+-----------+--------+                  
#### Assume that the CSV file student_data.csv contains the following data:
#### Student ID,Test Score
1,85  
2,90   
3,80    
4,75    
5,85     
6,82     
7,78      
8,85     
9,90           
10,85            
The program should calculate the mean, median, and mode of the test scores and display the results in a table.

In [4]:
# Get user input
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read csv file
df=pd.read_csv(file_path)


 # Calculate statistics
statistics={
    'mean' : df['Test_Score'].mean(),
    'median' : df['Test_Score'].median(),
    'mode' :df['Test_Score'].mode().tolist()
}
df_1=pd.DataFrame(statistics)
df_1

Enter the file path of the CSV file containing the student data:  student_data.csv

   mean  median  mode
0  83.5    85.0    85